.container {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




.phone {
  width: 90vw; 
width: 300px;
  height: auto;
    background: #000;
    border-radius: 60px;
    padding: 10px 13px;
    padding-left: 14px;
    margin-top: 50px;

}

.display {
    width: 100%;
    height: 250px;
    position: relative;
  border-radius: 60px;
}

.display input {
    width: 100%;
    height: 100%;
    background: #000;
    color: #ffffff;
    outline: none;
    font-size: 56px;
    padding-top: 178px;
    text-align: right;
  border-radius: 60px 60px 0px 60px;
    font-weight: 400;
    border: none;
}

.display .menu {
    color: orange;
    font-size: 17px;
    position: absolute;
    top: 60px;
    left: 0;
}




.buttonpart {
    width: 100%;
    height: auto;

}



.line {
    width: 60%;
    height: 5px;
    background: #fff;
    margin: 15px auto;
    border-radius: 2px;
}


.error {
    font-size: 10px;
    font-weight: 800;
    font-family: "Archivo", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

.errorbox {
    background: red;
    padding: 10px 20px;
    border-radius: 0 20px 20px 20px;
    position: absolute;
    top: 24%;
    left: 60%;
    display: none;
}

.copyright h5 {
    text-transform: capitalize;
    font-weight: 400;
    padding-top: 20px;

}

.copyright {
    text-align: center;
}



@media screen and (min-width: 320px) and (max-width : 350px) {
    .phone {
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        padding: 0px 5px 0 5px ;
        border-radius: 0;
    }

    .phone .first {
        justify-content: center;
        column-gap: 5px;
    }

    .phone .second {
        justify-content: center;
        column-gap: 5px;
    }

    .phone .third {
        justify-content:center;
        column-gap: 5px;
    }

    .phone .four2 {
        justify-content: center;
        column-gap: 5px;
    }

    .phone .five2 {
        justify-content: center;
        column-gap: 5px;
    }

  .buttonpart {
    margin-top: 30px;

 
}
.buttonpart button {
  max-width: 100%;
  flex: 1;
}




    .display input {
        padding-top: 110px;
        border-radius: 0;

    }

   .display {
    width: 100%;
    height: 166px;
}

.copyright{
    position: absolute;
    top: 0;
    left: 0;
}

.display .menu {
    top: 22px;
 
}
.line{
    display: none;
}
}


@media screen and (min-width: 350px) and (max-width : 450px) {
    .phone {
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        padding: 0px 5px 0 5px ;
        border-radius: 0;
    }

    .phone .first {
        justify-content: center;
        column-gap: 5px;
    }

    .phone .second {
        justify-content: center;
        column-gap: 5px;
    }

    .phone .third {
        justify-content:center;
        column-gap: 5px;
    }

    .phone .four2 {
        justify-content: center;
        column-gap: 5px;
    }

    .phone .five2 {
        justify-content: center;
        column-gap: 5px;
    }

  .buttonpart {
    margin-top: 53px;

 
}
.buttonpart button {
  width: 22%;
  height: auto;
  aspect-ratio: 1 / 1;
  font-size: 1.5rem;
}




    .display input {
        padding-top: 110px;
        border-radius: 0;

    }

   .display {
    width: 100%;
    height: 166px;
}

.copyright{
    position: absolute;
    top: 0;
    left: 0;
}

.display .menu {
    top: 22px;
 
}
.line{
    display: none;
}
}


@media screen and (min-width: 450px) and (max-width : 500.99px) {
    .phone {
        width: 100vw;
        height: 100vh;
        margin-top: 0;
        padding: 0px 5px 0 5px ;
        border-radius: 0;
        overflow: hidden;
    }

    .phone .first {
        justify-content: center;
        column-gap: 5px;
    }

    .phone .second {
        justify-content: center;
        column-gap: 5px;
    }

    .phone .third {
        justify-content:center;
        column-gap: 5px;
    }

    .phone .four2 {
        justify-content: center;
        column-gap: 5px;
    }

    .phone .five2 {
        justify-content: center;
        column-gap: 5px;
    }

  .buttonpart {
    /* margin-top: 30px; */

 
}
.buttonpart button {
  max-width: 100%;
  flex: 1;
  font-size: 35px;
}




.display input {
    padding-top: 80px;
    border-radius: 0;
    padding-bottom: 40px;
    font-size: 70px;
}

   .display {
    width: 100%;
    height: 148px;
}

.copyright{
    position: absolute;
    top: 0;
    left: 0;
}

.display .menu {
    top: 22px;
 
}
.line{
    display: none;
}
}




.buttonpart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 7px 0;
}
.buttonpart .del{
     color: white;
    text-transform: uppercase;
    border: 2px solid orange;
   
}

.buttonpart button {
  aspect-ratio: 1 / 1;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: #333;
  color: white;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}

.buttonpart button.orange {
  background-color: orange;
  color: white;
}

.buttonpart button.gray {
  background-color: gray;
}


.buttonpart button.white:hover{
  background-color: #636161;
}


.buttonpart button.orange:hover{
      background-color: rgb(241, 180, 65);
}
.buttonpart button:hover{
    background: #939292;
}

.buttonpart button.white{
    background: gray;
}

@media (max-width: 500px) {
  .buttonpart {
    gap: 8px;
    padding: 10px;
  }

 .buttonpart button {
	font-size: 2.4rem;
}
}
